.card {
  display: grid;
  grid-template-rows: 1fr 50px;
  gap: 25px;
  height: 280px;
  width: 240px;
}

.place {
  background-color: #36B3A4;
  border-radius: 24px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 16px;
  white-space: pre-line;
}