.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.introSection {
    padding-top: 120px;
    height: calc(100vh - 140px);
    display: grid;
    grid-template-rows: 1fr 150px;

    @media (max-width: 600px) {
        height: 660px;
    }

    @media (max-width: 550px) {
        height: 500px;
    }

    @media (max-width: 500px) {
        height: 480px;
    }

    @media (max-width: 450px) {
        height: 560px;
    }
}

.intro {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-image: url('../../assets/images/vladivostok.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: #002024;
}

.introDesc {
    text-align: center;
    font-family: 'Rodchenko';
    font-size: 54px;
    color: white;
    margin-bottom: 15px;

    @media (max-width: 1150px) {
        font-size: 85px;
    }

    @media (max-width: 900px) {
        font-size: 62px;
    }

    @media (max-width: 770px) {
        font-size: 48px;
    }

    @media (max-width: 550px) {
        font-size: 32px;
    }
}

.introTitle {
    text-align: center;
    font-family: 'Rodchenko';
    font-size: 105px;
    color: white;
    margin-bottom: 45px;

    @media (max-width: 1150px) {
        font-size: 85px;
    }

    @media (max-width: 900px) {
        font-size: 62px;
    }

    @media (max-width: 770px) {
        font-size: 48px;
    }

    @media (max-width: 550px) {
        font-size: 32px;
    }
}

.date {
    color: #77E9D7;
    letter-spacing: 5px;
    font-size: 42px;
    font-family: Calibri, 'sans-serif';

    @media (max-width: 900px) {
        font-size: 32px;
        text-align: center;
    }

    @media (max-width: 600px) {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.vk {
    position: absolute;
    right: 150px;
    top: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
cursor: pointer;

@media (max-width: 900px) {
    display: none;
}
}

.youtube {
    position: absolute;
    right: 50px;
    top: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
cursor: pointer;

@media (max-width: 900px) {
    display: none;
}
}

.choirLogo {
    margin-bottom: 25px;
    @media (max-width: 550px) {
        width: 175px;
        height: 90px;
    }
}

.timer {
    display: grid;
    height: 180px;
    grid-template-columns: 1fr 2fr;

    @media (max-width: 600px) {
        height: 120px;
    }
}

.text {
    background-color: #0F1B1B;
    padding-top: 25px;
    padding-left: 50px;

    font-size: 48px;
    font-family: 'Century', 'sans-serif';
    letter-spacing: 3px;
    color: #F4FFFF;
    font-weight: 500;

    @media (max-width: 1440px) {
        font-size: 32px;
    }

    @media (max-width: 900px) {
        font-size:24px;
    }

    @media (max-width: 770px) {
        font-size: 24px;
        padding-top: 35px;
        padding-left: 25px;
    }

    @media (max-width: 600px) {
        font-size: 16px;
        text-align: center;
    }

    @media (max-width: 550px) {
        font-size: 14px;
        padding-left: 10px;
        padding-top: 45px;
    }
}

.time {
    background-color: #0F7184;
}

.about {
    text-align: center;
    padding-top: 50px;
    min-height: 400px;
    background-image: url('../../assets/images/about.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25px;
}

.aboutTitle {
    font-family: 'Pribambas', sans-serif;
    font-size: 60px;
    color: #4A2D05;
    display: block;
    margin-bottom: 25px;
    padding-top: 15px;

    @media (max-width: 600px) {
        padding-top: 25px;
        font-size: 32px;
    }
}

.aboutDescription {
    font-size: 36px;
    color: #452B00;
    font-family: 'Century', 'sans-serif';

    @media (max-width: 600px) {
        font-size: 24px;
    }
}

.rules {
    background-color: #B4FEEA;
    padding: 25px 50px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rulesTitle {
    font-family: 'Pribambas', sans-serif;
    font-size: 60px;
    color: #303332;
    display: block;
    margin-bottom: 25px;
    text-align: center;

    @media (max-width: 600px) {
        font-size: 36px;
    }
}

.verticalTabs {
    display: grid;
    grid-template-rows: 1fr;
    gap: 50px;
}

.program {
    min-height: 560px;
    display: grid;
    grid-template-columns: 2fr 3fr;


    @media (max-width: 650px) {
        grid-template-columns: 1fr;
    }
}

.programImage {
    @media (max-width: 900px) {

            width: 250px;
            height: 200px;
    }
}

.programTitle {
    background-color: #B0E2FD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pribambas', sans-serif;
    font-size: 100px;
    line-height: 130px;
    color: #328590;
    text-align: center;

    @media (max-width: 1200px) {
        font-size: 60px;
        line-height: 80px;
    }

    @media (max-width: 900px) {
        font-size: 40px;
        line-height: 60px;


    }

    @media (max-width: 600px) {
        font-size: 32px;
        line-height: 40px;
    }
}

.programLink {
    padding-top: 20px;
    background-color: #1E3745;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downloadProgram {
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
    cursor: pointer;

    @media (max-width: 900px) {
        font-size: 24px;
    }
}

.participants {

}

.participantsTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: stretch;
    gap: 45px;
    padding: 0 50px;
    margin-bottom: 50px;

    @media (max-width: 1400px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.participantImage img {
    border-radius: 12px;
}

.participantModalImage {
    border-radius: 12px;

}

.participantModal {
    display: flex;
    gap: 12px;
    padding: 20px 60px;
    min-height: 400px;
    margin: 0 25px 0 25px;
    background-color: #F5FEFE;
    border-radius: 24px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    
    @media (max-width: 1000px) {
        flex-direction: column;

        img {
            width: 100%;
        }

    }

    @media (max-width: 900px) {
        img {
            display: none;
        }
        height: 600px;
        overflow: auto;
        border-radius: 0;
    }
}

.modalTitle {
    font-size: 24px;
    color: #1D2625;
}

.participantCard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    max-width: 350px;
}

.participantModalTitle {
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;
}

.participantTitle {
    font-size: 18px;
    min-height: 78px;
}

.closeButton {
    position: absolute;
    right: 50px;
    top: 15px;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
}

.participantModalDesc {
    font-size: 18px;

    @media (max-width: 800px) {
        font-size: 16px;
    }

    @media (max-width: 600px) {
        font-size: 14px;
    }
}


.jury {
    background-color: #F5FEFE;
    padding-top: 25px;
}

.juryTitle {
    text-align: center;
    font-family: 'Pribambas', sans-serif;
    font-size: 100px;
    margin-bottom: 50px;
    color: #223030;

    @media (max-width: 600px) {
        font-size: 48px;
    }
}

.juryList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @media (max-width: 1600px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 45px;
    }
}



.juryItem {
    cursor: pointer;
    min-width: 300px;
    height: 520px;
    display: grid;
    grid-template-rows: 1fr 150px;

img {
    width: 100%;
}
}

.juryName {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Natasha', 'sans-serif';
    text-align: center;
    font-size: 32px;
    font-weight: bold;

    @media (max-width: 1440px) {
        font-size: 24px;
    }
}

.juryItem:nth-child(2n + 1) {
    background-color: #3D94A0;
    .juryName {
        color: white;
    }
}

.juryItem:nth-child(2n) {
    background-color: #A6ECF2;
    .juryName {
        color: #327379;
    }
}

.venues {
    background-color: #F5FEFE;

}

.venuesList {
    background-color: #C6FFF0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
    padding: 45px;
    justify-content: center;

    @media (max-width: 1440px) {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
    }
}

.venuesTitle {
    text-align: center;
    font-family: 'Pribambas', sans-serif;
    font-size: 100px;
    margin-bottom: 50px;
    background-color: #F5FEFE;
    color: #223030;
    @media (max-width: 600px) {
        font-size: 48px;
    }
}

.newsItem {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        img {
            width: 280px;
            height: 300px;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 460px) {
        img {
            width: 210px;
            height: 250px;
        }
    }
}


.newsTitle {
    height: 125px;
    background-color: #107C91;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pribambas', sans-serif;
    font-size: 100px;
    color: #F5F8FE;
    @media (max-width: 600px) {
        font-size: 48px;
    }
}

.newsSwiper {
    height: 100%;
    margin-bottom: 25px;
    padding: 0 65px;
}

.videoSwiper {
    height: 100%;
    margin-bottom: 25px;
    margin-top: 50px;
    padding: 0 65px;
}

.newsImage {

    background-color: black;
    margin-bottom: 15px;
    margin-top: 25px;
    border-radius: 12px;
}
.newsItemTitle {
    font-family: 'Century', 'sans-serif';
    font-size: 38px;
    font-weight: bold;

    @media (max-width: 600px) {
        font-size: 24px;
    }
}

.videoTitle {
    font-family: 'Century', 'sans-serif';
    font-size: 38px;
    font-weight: bold;
    text-align: center;

    @media (max-width: 600px) {
       font-size: 24px;
    }
}

.newsDate {
    font-size: 24px;
    @media (max-width: 600px) {
        font-size: 18px;
    }
}

.photos {
    background-color: #FEFEFE;
}

.photoMain {
    position: relative;
    margin: 15px 25px;
    height: 325px;
    border-radius: 24px;
    background-color: #4EDCCC;
}

.photoMainTitle {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: black;
    font-size: 32px;
    font-family: 'Natasha', sans-serif;
}

.photosAlbums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 15px 25px;

    @media (max-width: 1300px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.photosAlbumsTitle {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: black;
    font-size: 18px;
    font-family: 'Natasha', sans-serif;
}

.album {
    border-radius: 24px;
    background-color: #4EDCCC;
    height: 230px;
    position: relative;
}

.resultsTitle {
    height: 100px;
    background-color: #4EDCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 80px;
    color: #1A2F2F;

    @media (max-width: 600px) {
        font-size: 48px;
    }
}

.results {
    height: 372px;
    background-color: #C6FFF0;
}

.results {
    display: flex;
    align-items: center;
    padding: 15px 25px;
}

.downloadResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}

.videoItem {
    margin-top: 55px;
}

.videoImage {
    width: 365px;
    height: 380px;
    background-color: black;
}