.introSection {
    padding-top: 130px;
    height: calc(100vh - 130px);
    display: grid;
    grid-template-rows: 1fr 150px;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-image: url('../../assets/images/vladivostok.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: #002024;
}

.introTitle {
    text-align: center;
    font-family: 'Rodchenko';
    font-size: 105px;
    color: white;
    margin-bottom: 25px;
}

.date {
    color: #77E9D7;
    letter-spacing: 5px;
    font-size: 42px;
}

.vk {
    position: absolute;
    right: 150px;
    top: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
cursor: pointer;
}

.youtube {
    position: absolute;
    right: 50px;
    top: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
cursor: pointer;
}

.choirLogo {
    margin-bottom: 25px;
}

.rules {
    padding: 0 50px;
    background-color: #B4FEEA;
    padding-bottom: 35px;
}

.timer {
    display: grid;
    height: 150px;
    grid-template-columns: 1fr 2fr;
}

.text {
    background-color: #0F1B1B;
    padding-top: 25px;
    padding-left: 50px;

    font-size: 36px;
    line-height: 40px;
    letter-spacing: 3px;
    color: #F4FFFF;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.time {
    background-color: #0F7184;
}

.verticalTabs {
    display: grid;
    grid-template-rows: 1fr;
    gap: 50px;
}