.footer {
  min-height: 200px;
  background-color: #141917;
  padding: 25px 50px;
  color: #F5F5F5;
  display: grid;
  grid-template-columns: 1fr auto;

  @media (max-width: 650px) {
    grid-template-columns: 1fr;
    gap: 25px;
    height: 100%;
  }
}

.contacts {
  font-family: 'Century', 'sans-serif';
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: 1440px) {
    font-size: 24px;
  }

  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.links {
  margin-top: 15px;
  display: flex;
  gap: 12px;
}